version: '3.8'

services:
  # 1. Backend (Spring Boot)
  backend:
    # Image sẽ được kéo từ Docker Hub về (tên khớp với workflow bên dưới)
    image: ${DOCKER_USERNAME}/web-chat-backend:latest
    container_name: backend_app
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=${MONGO_URI}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - JWT_SIGNER_KEY=${JWT_SIGNER_KEY}
      - COOKIE_SECURE=false
    depends_on:
      - redis

  # 2. Frontend (React + Nginx)
  frontend:
    image: ${DOCKER_USERNAME}/web-chat-frontend:latest
    container_name: frontend_app
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

  # 3. Redis (Chạy tại chỗ)
  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"